body {
    margin:0;
    /* text-align: center; */
    font-family: 'IBM Plex Sans', sans-serif;
}

h1{
    color: #112d4e; 
    font-size: 5.655rem;
    margin-top: 50px auto 0 auto;
    font-family: 'IBM Plex Sans', sans-serif;
}

h2{
    color: #112d4e; 
    font-size: 2.5rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: normal;
}
h3{

    font-family: 'IBM Plex Sans', sans-serif;
}
p{
    color:black;
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 2;

}

hr {
    border: dotted rgb(218, 214, 214) 6px;
    border-bottom: none;
    width: 3%;
    margin: 100px auto;
}

.top-container {
    background-color:#f9f7f7;
    position: relative;
    padding-top: 100px;
    text-align: center;
   
}


.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
    
}

.middle-container {
    margin: 100px 0;

    position: relative;
    text-align: center;
   
}

.bottom-container {
    background-color: #f9f7f7;
    position: relative;
    padding: 50px 0 20px;
    text-align: center;
}

.skill-row{
    width: 30%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;

}
.chillies-img{
    width: 20%;
    float: left;
    margin-right:30px;
}

.computer-img{
    width: 20%;
    float: right;
    margin-left:30px;
}

.underline{
    text-decoration: underline;
}

.intro{
    width:20%;
    margin: auto;
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px;

}

.btn {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #dbe2ef, #3f72af);
    background-image: -moz-linear-gradient(top, #dbe2ef, #3f72af);
    background-image: -ms-linear-gradient(top, #dbe2ef, #3f72af);
    background-image: -o-linear-gradient(top, #dbe2ef, #3f72af);
    background-image: -webkit-gradient(to bottom, #dbe2ef, #3f72af);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 50px;
    line-height: 50px;
    color: #FFFFFF;
    font-family: 'IBM Plex Sans', sans-serif;
    width: 200px;
    font-size: 30px;
    padding: 12px;
    -webkit-box-shadow: 1px 1px 12px 0 #000000;
    -moz-box-shadow: 1px 1px 12px 0 #000000;
    box-shadow: 1px 1px 12px 0 #d2d2d2;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }

 .btn:hover {
    border: solid #3f72af 1px;
    background: #3f72af;
    background-image: -webkit-linear-gradient(top, #3f72af, #dbe2ef);
    background-image: -moz-linear-gradient(top, #3f72af, #dbe2ef);
    background-image: -ms-linear-gradient(top, #3f72af, #dbe2ef);
    background-image: -o-linear-gradient(top, #3f72af, #dbe2ef);
    background-image: -webkit-gradient(to bottom, #3f72af, #3dbe2ef);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

 a {
     color: black;
     font-family: 'IBM Plex Sans', sans-serif;
     margin: 10px 20px;
     text-decoration: none;
 }
 a:hover {
     color: gray;

 }

 .cr{
     color: gray;
     font-size: .75rem;
     padding: 20px 0;
 }